@import "tailwindcss";

@font-face {
  font-family: "Innovator Grotesk VF";
  src: url("/InnovatorGroteskVF-VF.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@theme {

  --radius-*: initial;
  --radius-xs: 0.125rem; /* 2px */
  --radius-sm: 0.25rem; /* 4px */
  --radius-md: 0.5rem; /* 8px */
  --radius-lg: 0.75rem; /* 12px */
  --radius-xl: 1rem; /* 16px */
  --radius-2xl: 1.25rem; /* 20px */
  --radius-3xl: 1.5rem; /* 24px */
  --radius-full: 624.9375rem; /* 9999px */

  /* Colors */

  --color-*: initial;
  --color-none: none;

  /* Grayscale */
  --color-grayscale-100: #f8f8f8;
  --color-grayscale-200: #ededed;
  --color-grayscale-300: #dcdcdc;
  --color-grayscale-400: #bfbfbf;
  --color-grayscale-500: #9d9d9d;
  --color-grayscale-600: #666666;
  --color-grayscale-700: #4d4d4d;
  --color-grayscale-800: #333333;
  --color-grayscale-900: #1a1a1a;
  --color-grayscale-1000: #121414;
  --color-grayscale-1100: #9ca3af;
  --color-grayscale-1200: #a6a6a5;

  /* Green */
  --color-green-100: #ccffd4;
  --color-green-200: #a3f3b6;
  --color-green-300: #91f2a1;
  --color-green-400: #91f2a1;
  --color-green-500: #47b259;
  --color-green-600: #3d994d;
  --color-green-700: #2f7d3e;
  --color-green-800: #226632;
  --color-green-900: #184f27;
  --color-green-1000: #0f3a1b;

  /* Green-Gray */
  --color-green-gray-500: #2d3939;

  /* Neutral */
  --color-neutral-100: #ffffff;
  --color-neutral-1000: #000000;
  --color-neutral-dark-100: #1c1c1e;

  /* Orange */
  --color-orange-100: #fff5e5;
  --color-orange-200: #ffeccc;
  --color-orange-300: #ffe0aa;
  --color-orange-400: #ffd080;
  --color-orange-500: #ffc055;
  --color-orange-600: #ffb12b;
  --color-orange-700: #ffa100;
  --color-orange-800: #d48600;
  --color-orange-900: #aa6b00;
  --color-orange-1000: #805100;
  --color-orange-1100: #553600;

  /* Red */
  --color-red-100: #ffeae5;
  --color-red-200: #ffd5cc;
  --color-red-300: #ffb8aa;
  --color-red-400: #ff9580;
  --color-red-500: #ff7255;
  --color-red-600: #ff4e2b;
  --color-red-700: #ff2b00;
  --color-red-800: #d42400;
  --color-red-900: #aa1d00;
  --color-red-1000: #801600;
  --color-red-1100: #550e00;

  /* Custom */
  --color-card-widget-border: #e5e7eb;
  --color-company-logo-border: rgba(194, 191, 184, 0.35);
  --color-form-input-text: #111827;
  --color-mcq-option-bg-hover: #00000033;
  --color-mcq-option-border-hover: #dcdcdc;
  --color-mcq-option-border-selected: #32d583;
  --color-navbar-surface-dark: rgba(26, 28, 28, 0.3);
  --color-navbar-surface: rgba(243, 243, 243, 0.3);
  --color-primary-disabled-dark: #304136;
  --color-primary-disabled: #d0e0d4;
  --color-risk-score-base-high: #e66b00;
  --color-risk-score-base-low: #1aab6d;
  --color-risk-score-base-moderate: #e6a800;
  --color-risk-score-base-severe: #e53935;
  --color-risk-score-text-indicator-low: #2e7a3b;
  --color-risk-score-text-indicator-moderate: #997e00;
  --color-risk-score-text-indicator-high: #c57e00;
  --color-risk-score-text-indicator-severe: #cc1f00;
  --color-secondary-disabled-dark: #404b4b;
  --color-secondary-disabled: #e1e1e1;
  --color-secondary-hover: #3a4747;
  --color-secondary-text: #999999;
  --color-table-row-surface-table-header: #f9fafb;
  --color-tertiary-bg: #ffffff00;
  --color-tertiary-focus-ring: #3d994d30;
  --color-tertiary-hover-dark: #ffffff05;
  --color-tertiary-hover: #ffffff04;
  --color-training-card-hover: #eef0f1;

  /* Training Categories */
  --color-data-table-row-surface-hover: rgba(0, 0, 0, 0.03);
  --color-risk-score-tint-low: #dff3e5;
  --color-risk-score-tint-moderate: #fffad1;
  --color-risk-score-tint-high: #ffe5bd;
  --color-risk-score-tint-severe: #ffd8d1;
  --color-training-awareness-bg-dark: #2a1616;
  --color-training-awareness-bg: #fcdcdc;
  --color-training-awareness-text-dark: #ffb3b3;
  --color-training-awareness-text: #7f1d1d;
  --color-training-compliance-bg-dark: #2c2111;
  --color-training-compliance-bg: #fbefd3;
  --color-training-compliance-text-dark: #ffd68a;
  --color-training-compliance-text: #8c5e13;
  --color-training-functional-bg-dark: #1c233a;
  --color-training-functional-bg: #e0eaff;
  --color-training-functional-text-dark: #afcbff;
  --color-training-functional-text: #344d91;

  /* Training Categories */
  --color-training-compliance-bg: #fbefd3;
  --color-training-compliance-bg-dark: #2c2111;
  --color-training-compliance-text: #8c5e13;
  --color-training-compliance-text-dark: #ffd68a;
  --color-training-functional-bg: #e0eaff;
  --color-training-functional-bg-dark: #1c233a;
  --color-training-functional-text: #344d91;
  --color-training-functional-text-dark: #afcbff;
  --color-training-awareness-bg: #fcdcdc;
  --color-training-awareness-bg-dark: #2a1616;
  --color-training-awareness-text: #7f1d1d;
  --color-training-awareness-text-dark: #ffb3b3;


  /* Shadow */

  /* Text Color */
  --color-text-subtle: #4d4d4d;

  --shadow-*: initial;
  --shadow-lg: 0px 8px 24px 0px rgba(0, 0, 0, 0.12);

  --shadow-calendar-multiple-attacks: box-shadow: 0px 1px 4px 0px
    rgba(0, 0, 0, 0.08) inset;
  --shadow-risk-score-low: 4px 8px 24px 0px rgba(71, 178, 89, 0.24);
  --shadow-risk-score-moderate: 4px 8px 24px 0px rgba(230, 168, 0, 0.24);
  --shadow-risk-score-high: 4px 8px 24px 0px rgba(255, 161, 0, 0.24);
  --shadow-risk-score-severe: 4px 8px 24px 0px rgba(229, 57, 53, 0.24);

  --color-form-input-text: #111827;
  --color-form-input-text-dark: #f5f5f7;
  --shadow-navbar: 2px 4px 2px 0px rgba(0, 0, 0, 0.02);

  /* Status Colors */

  --color-error: #ef4444;
  --color-dark-error: #f87171;

  /* Spacing */

  --spacing-xxs: 0.125rem; /* 2px */
  --spacing-xs: 0.25rem; /* 4px */
  --spacing-s: 0.375rem; /* 6px */
  --spacing-sm: 0.5rem; /* 8px */
  --spacing-ms: 0.625rem; /* 10px */
  --spacing-md: 1rem; /* 16px */
  --spacing-lg: 1.5rem; /* 24px */
  --spacing-xl: 2rem; /* 32px */
  --spacing-2xl: 2.5rem; /* 40px */
  --spacing-3xl: 4rem; /* 64px */
  --spacing-4xl: 5rem; /* 80px */
  --spacing-5xl: 6rem; /* 96px */
  --spacing-6xl: 8rem; /* 128px */
  --spacing-7xl: 10rem; /* 160px */
  --spacing-8xl: 12rem; /* 192px */
  --spacing-9xl: 14rem; /* 224px */
  --spacing-10xl: 16rem; /* 256px */
  --spacing-custom-xl: 17rem; /* 168px */
  --spacing-11xl: 18rem; /* 288px */
  --spacing-12xl: 20rem; /* 320px */
  --spacing-13xl: 22rem; /* 352px */
  --spacing-14xl: 24rem; /* 375px */
  --spacing-15xl: 26rem; /* 416px */
  --spacing-16xl: 28rem; /* 448px */
  --spacing-17xl: 30rem; /* 480px */
  --spacing-18xl: 32rem; /* 512px */
  --spacing-19xl: 34rem; /* 544px */

  /* Text */

  --text-*: initial;
  --text-*--font-weight: 400;
  --text-*--letter-spacing: normal;

  /* Copyright */
  --text-copyright: 0.625rem; /* 10px */
  --text-copyright--line-height: normal;

  /* Caption (Small) */
  --text-caption-sm: 0.6875rem; /* 11px */
  --text-caption-sm--line-height: 0.875rem; /* 14px */

  /* Caption (Medium) */
  --text-caption-md: 0.75rem; /* 12px */
  --text-caption-md--line-height: 0.9375rem; /* 15px */

  /* Body (Small) */
  --text-body-sm: 0.8125rem; /* 13px */
  --text-body-sm--line-height: 1.0625rem; /* 17px */

  /* Body (Medium) */
  --text-body-md: 0.875rem; /* 14px */
  --text-body-md--line-height: 1.125rem; /* 18px */

  /* Heading (Small) */
  --text-heading-sm: 1rem; /* 16px */
  --text-heading-sm--line-height: 1.3125rem; /* 21px */

  /* Heading (Medium) */
  --text-heading-md: 1.25rem; /* 20px */
  --text-heading-md--line-height: 1.5rem; /* 24px */

  /* Display (Large) */
  --text-display-lg: 1.75rem; /* 28px */
  --text-display-lg--line-height: 2rem; /* 32px */

  /* Display (Extra large) */
  --text-display-xl: 2.25rem; /* 36px */
  --text-display-xl--line-height: 2.5rem; /* 40px */

  /* Display (Extra extra large) */
  --text-display-xxl: 3rem; /* 48px */
  --text-display-xxl--line-height: 3.3125rem; /* 53px */

  /* Risk score */
  --text-risk-score: 3.4375rem; /* 55px */
  --text-risk-score--line-height: 3.79875rem; /* 60.78px */
}

body {
  font-family:
    Innovator Grotesk VF,
    sans-serif;
}
